<%= bootstrap_flash %>

<h1>Administration</h1>
<HR>

<table class="table table-striped">
  <h2>Pending Account Change Requests</h2>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>User ID</th>
      <th>Reason</th>
      <th>To Account type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @acrs.each do |acr| %>
      <tr>
      	<td><%= acr.id %></td>
      	<td><%= get_user(acr.user_id).name %></td>
        <td><%= acr.user_id %></td>
        <td><%= acr.reason_message %></td>
        <td><%= acr.account_type %></td>
        <td><%= link_to 'Show User', user_path(get_user(acr.user_id)) %></td>
        <td><%= link_to 'Accept Request', admin_accept_account_change_request_path(:acr => acr) %></td>
        <td><%= link_to 'Deny Requst', admin_deny_account_change_request_path(:acr => acr) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<HR>