<%= bootstrap_flash %>

<h1><i class="fa fa-gears fa-spin"></i>Administration</h1>
<HR>

<h2><i class="fa fa-users"></i> Pending Account Change Requests</h2>

<% if @acrs.count > 0 %>
<div class="tables">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>User ID</th>
        <th>Reason</th>
        <th>To Account type</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @acrs.each do |acr| %>
        <tr>
        	<td><%= acr.id %></td>
        	<td><%= get_user(acr.user_id).name %></td>
          <td><%= acr.user_id %></td>
          <td><%= acr.reason_message %></td>
          <td><%= acr.account_type %></td>
          <td>
            <%= link_to user_path(get_user(acr.user_id)), :class => "btn btn-info"  do %> 
              <i class="fa fa-user"></i> Show User 
            <%end%> 
          </td>
          <td>
            <%= link_to admin_accept_account_change_request_path(:acr => acr), :class => "btn btn-success" do %>
              <i class="fa fa-thumbs-up"></i> Accept Request 
            <% end %> 
          </td>
          <td>
            <%= link_to admin_deny_account_change_request_path(:acr => acr), :class => "btn btn-danger" do %>
              <i class="fa fa-thumbs-down"></i> Deny Request
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <p>
    There are currently 0 pending account changes
  </p>
<% end %>

<HR>

<h2><i class="fa fa-picture-o"></i> Pending Picture Uploads</h2>

<% if @ppus.count > 0 %>
<div class="tables">
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Picture ID</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @ppus.each do |ppu| %>
        <tr>
          <td><%= ppu.id %></td>
          <td><%= ppu.user_id %></td>
          <td><%= ppu.picture_id %></td>
          <td>
            <%= link_to user_path(get_user(ppu.user_id)), :class => "btn btn-info" do %>
              <i class="fa fa-user"></i> Show User 
            <% end %>

          </td>
          <td>
            <%= link_to picture_path(get_picture(ppu.picture_id)), :class => "btn btn-info" do %>
              <i class="fa fa-picture-o"></i> Show Picture
            <% end %>
          </td>
          <td>
            <%= link_to admin_accept_pending_picture_upload_path(:ppu => ppu), :class => "btn btn-success" do %>
              <i class="fa fa-thumbs-up"></i> Accept Picture
            <% end %>
          </td>
          <td>
            <%= link_to admin_deny_pending_picture_upload_path(:ppu => ppu), :class => "btn btn-danger" do %>
              <i class="fa fa-thumbs-down"></i> Deny Picture
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <p>
    There are currently 0 pictures that need approval
  </p>
<% end %>
