<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>User ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>UID:</strong>
  <%= @user.uid %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @user.provider %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @user.account_type %>
  <% if @user == current_user %>
    <p>  
      <%= link_to new_account_change_request_path(), :class => "btn btn-primary" do %>
        <i class="fa fa-bullhorn"></i> Request Account Type Change
      <% end %>
    </p>
  <% end %>
</p>
