<div class = "add_comment">
	<% if current_user %>
		<h3>Add a comment:</h3>

		<%= form_for([@poi, @poi.comments.build]) do |f| %>
			<p>
				<%= f.label "Comment" %><br />
				<%= f.text_area :body %>
			</p>

			<%= f.hidden_field :user_id, :value => current_user.id %> 

			<p>
				<%= f.submit :class=>"btn btn-success"%>
			</p>
		<% end %>

	<% end %>
</div>

<h3>Comments</h3>
<div class="tables">
<% if @poi.comments.count > 0 %>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Comment</th>
	      <th></th>
	    </tr>
	  </thead>

	  
	  	<tbody>
	    	<% @poi.comments.each do |comment| %>
		   		<% if comment.user_id %>
			    	<tr>
			    		<td><%= get_user(comment.user_id).name %></td>
			      		<td><%= comment.body %></td>
				  		<% if current_user && current_user.id == comment.user_id %>
							<td>
								<%= button_to comment, :method => :delete, :class => "btn btn-danger" do %>
									<i class="fa fa-times"></i> Delete Comment
								<% end %>
							</td>
						<% end %>
			    	</tr>
				<% end %>
	    	<% end %>
	 	</tbody>
		
	</table>
<% else %>
	<p>
		Be the first to comment!
	</p>
<% end %>
</div>