<h1> Main Picture </h1>
<% Picture.where(point_of_interest_id: @poi.id, main_image: true).each do |picture| %>
	<%= image_tag picture.photo.url(:medium) %>
<% end %>

<h1> Additional Pictures </h1>

<div class="tables">
<table class="table table-striped" data-no-turbolink>
	<thead>
		<tr>
		  <th>Picture</th>
		  <th></th>
		  <th></th>
		</tr>
	</thead>

	<tbody>
		<% Picture.where(point_of_interest_id: @poi.id, main_image: false).each do |picture| %>
			<% if !PendingPictureUpload.where(picture_id: picture.id).any?  %>
			<tr>
				<td><%= image_tag picture.photo.url(:thumb) %></td>
				<td><%= link_to 'Make Main Image', {:controller => "pictures", :action => "make_main_image", :id => picture.id} %></td>
		    	<td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		    </tr>
			<% end %>
		<% end %>
	</tbody>
</table>
</div>

<% if current_user %>
	<%= link_to 'Upload Your Own Picture: Requires Approval', new_picture_path(:poi => @poi.id)  %>
<% end %>