<%= form_for @poi, :remote => true, :authenticity_token => true, :html => { :multipart => true } do |f| %>
  	<body>
  		<div class ="address">
	  		<p>
	    		<b>Latitude:</b>
	    		<%= f.text_field :latitude %><br>
	    		<b>Longitude:</b>
	    		<%= f.text_field :longitude %>
	    	</p>
	    </div>
		<div class = "summary">
			<h1>Summary - About the POI</h1>
				<%= f.text_area :summary %>
		</div>
		
		<div class = "sponsor">
			<h1>Sponsor Information</h1>			
    		<%= f.text_area :sponsor_info %>
		</div>
		
		<div class = "artist">
			<h1>Artist</h1>
    		<%= f.text_area :artist_info %>
		</div>

    <div class = "pictures">

		  <% if params[:action] == "new" %>
  			<h1>Main Picture</h1>
  				<%= f.file_field :photo %>
        <h1>Additional Pictures</h1>
          <%= f.file_field :photoarrays, :multiple => :true %>

      <% elsif params[:action] == "edit" %>

        <%= render 'edit' %>

      <% end %>
    </div>
	</body>
 
  <p>
    <br />
    <%= f.submit %>
  </p>
<% end %>