<html>
	<head>
		<%= stylesheet_link_tag "share", :media => "all" %>
	</head>

	<body>
		<% @url = request.original_url %>
		<!-- I got these buttons from simplesharebuttons.com -->
		<div id="share-buttons">
			<!-- Facebook -->
			<a href="http://www.facebook.com/sharer.php?u=<%= @url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" /></a>
			 
			<!-- Twitter -->
			<a href="http://twitter.com/share?url=<%= @url %>&text=Point of Interest" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" /></a>
			 
			<!-- Google+ -->
			<a href="https://plus.google.com/share?url=<%= @url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/google.png" alt="Google" /></a>
			 
			<!-- Email -->
			<a href="mailto:?Subject=Point of Interest&Body=I%20saw%20this%20and%20thought%20of%20you!%20 <%= @url %>"><img src="http://www.simplesharebuttons.com/images/somacro/email.png" alt="Email" /></a>
			 
			<!-- Digg -->
			<a href="http://www.digg.com/submit?url=<%= @url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/diggit.png" alt="Digg" /></a>
			 
			<!-- Reddit -->
			<a href="http://reddit.com/submit?url=<%= @url %>&title=Point of Interest" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/reddit.png" alt="Reddit" /></a>
			 
			<!-- LinkedIn -->
			<a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= @url %>" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" /></a>
			 
			<!-- StumbleUpon-->
			<a href="http://www.stumbleupon.com/submit?url=<%= @url %>&title=Point of Interest" target="_blank"><img src="http://www.simplesharebuttons.com/images/somacro/stumbleupon.png" alt="StumbleUpon" /></a>
		</div>
	</body>
</html>