<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" type="text/javascript"></script>
		<%= javascript_include_tag "jquery.carouFredSel" %>
		<script type="text/javascript">
			$(document).ready(function() {

			    // Using custom configuration
			    $('#carousel').carouFredSel({
			        items               : 3,
			        direction           : "left",
			        height				: 250,
			        width               : "100%",
			        align				:"center",
			        scroll : {
			            items           : 1,
			            easing          : "linear",
			            duration        : 750,                         
			            pauseOnHover    : "immediate-resume"
			        }                   
			    });
			});
		</script>
  	</head>
  	<body>
		
		<%= bootstrap_flash %>
  		
  		<div class="container-fluid">
  			<div class="row-fluid">

  				<div class="span6">
			  		
			  		<div class="location">
			  			<h1><i class="fa fa-location-arrow"></i> Point of Interest Location</h1>
			  			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@poi.latitude}%2C#{@poi.longitude}" %>
			  			<br /><br />
			  			<%= link_to directions_point_of_interest_path, :id => "get-directions-btn", :class => "btn btn-info" do %>
							<i class="fa fa-road"></i> Get Directions
						<% end %>
			  		</div>

					<div class = "pictures">

						<div class="main_picture">
							<h2><i class="fa fa-picture-o"></i> Main Picture</h2>
					
							<% Picture.where(point_of_interest_id: @poi.id, main_image: true).each do |picture| %>
								<%= image_tag picture.photo.url(:medium) %>
							<% end %>
						</div>

						<div class = "other_pictures">	
							<h2><i class="fa fa-camera-retro"></i> Other Pictures</h2>
							<div id="carousel">
		
								<% Picture.all.reverse_order.each do |picture| %>
									<% if picture.point_of_interest_id == @poi.id && picture.main_image == false  %>
										<%= link_to image_tag(picture.photo.url(:medium)), PointOfInterest.find(picture.point_of_interest_id) %>
									<% end %>
								<% end %>

							</div>
						</div>
						<br />
						<% if current_user %>
							<%= link_to new_picture_path(:poi => @poi.id), :class => "btn btn-primary" do %>
								<i class="fa fa-picture-o"></i> Upload Your Own Picture
							<% end %>
						<% end %>

					</div>
					
				</div>
				
				<div class="span6">

					<div class = "rating">
						<h3><i class="fa fa-sun-o"></i> Rating</h3>
							
							<% if @rating == 0 %>
								<i class="fa fa-star-o fa-2x fa-spin"></i>
							<% else %>
								<% if @rating > 0 %>
									<i class="fa fa-star fa-2x fa-spin"></i>
								<% end %>

								<% if @rating > 1 %>
									<i class="fa fa-star fa-2x fa-spin"></i>
								<% end %>
								
								<% if @rating > 2 %>
									<i class="fa fa-star fa-2x fa-spin"></i>
								<% end %>
								
								<% if @rating > 3 %>
									<i class="fa fa-star fa-2x fa-spin"></i>
								<% end %>

								<% if @rating > 4 %>
									<i class="fa fa-star fa-2x fa-spin"></i>
								<% end %>		
									 
							<% end %>
							
							<% if current_user && (has_user_given_poi_rating(@poi.id) == false) %>
								<%= render "ratingform" %>
							<% end %>
					</div>

					<HR>

					<div class = "summary">
						<h2><i class="fa fa-book"></i> Summary - About the POI</h2>
							<%= @poi.summary %>
					</div>

					<HR>
					
					<div class = "sponsor">
						<h2><i class="fa fa-bookmark"></i> Sponsor Information</h2>
							<%= @poi.sponsor_info %>
					</div>
					
					<HR>

					<div class = "artist">
						<h2><i class="fa fa-bookmark"></i> Artist</h2>
							<%= @poi.artist_info %>
					</div>

					<HR>

					<%= render 'nearby' %>
					
				</div>
			</div>	
		</div>

		<HR>

		<div class="poi_share_comments">
			<div class="share">
				<h1>Share this Page</h1>
				<%= render "share" %>
			</div>

			<%= bootstrap_flash %>
			
			<div class = "comments">
				<%= render "comment" %>
			</div>
		</div>

	</body>

</html>