<!DOCTYPE html>
<html>
	<head>
    	<link href="js-image-slider.css" rel="stylesheet" type="text/css" />
    	<script src="js-image-slider.js" type="text/javascript"></script>
  	</head>
  	<body>
  		<div class="location">
  			<h1>Point of Interest Location</h1>
  			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@poi.latitude}%2C#{@poi.longitude}" %>
  			
  		</div>
		<div class = "summary">
			<h1>Summary - About the POI</h1>
				<%= @poi.summary %>
		</div>
		
		<div class = "sponsor">
			<h1>Sponsor Information</h1>
				<%= @poi.sponsor_info %>
		</div>
		
		<div class = "artist">
			<h1>Artist</h1>
				<%= @poi.artist_info %>
		</div>
		
		<div class = "pictures">
			<h1>Main Picture</h1>
				<% Picture.where(point_of_interest_id: @poi.id, main_image: true).each do |picture| %>
					<%= image_tag picture.photo.url(:medium) %>
				<% end %>
			<h1>Other Pictures</h1>
				<% Picture.where(point_of_interest_id: @poi.id, main_image: false).each do |picture| %>
					<%= image_tag picture.photo.url(:thumnb) %>
				<% end %>				
		</div>

		<div class = "comments">

			<div class = "add_comment"
				<% if current_user %>
					<h2>Add a comment:</h2>

					<%= form_for([@poi, @poi.comments.build]) do |f| %>
					  <p>
					    <%= f.label :body %><br />
					    <%= f.text_area :body %>
					  </p>

						<%= f.hidden_field :user_id, :value => current_user.id %> 

					  <p>
					    <%= f.submit %>
					  </p>
					<% end %>

				<% end %>
			</div>

			<h2>Comments</h2>
			<% @poi.comments.each do |comment| %>
				<% if comment.body  %>	
					<p>
				    	<strong><%= get_user(comment.user_id).name %></strong>
				    	<%= comment.body %>
				 	</p>
				  
				  	<% if current_user && current_user.id == comment.user_id %>
						<%= link_to 'Delete Comment', [comment.point_of_interest, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
				  	<% end %>
				<% end %>
			<% end %>

		</div>
	</body>

</html>