<!DOCTYPE html>
<html>
	<head>
		<!--[if lt IE 9]>
    		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  		<![endif]-->
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
  		<%= csrf_meta_tags %>
  		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>POINT</title>
	</head>
	
	<div class = "container-fluid">
		
		<nav class="navbar">
  			<div class="navbar-inner">
  				<div class="container">
					<a class="brand"><%= link_to( image_tag("POINT-Logo-1.jpg"), "/") %></a>
			
					<ul class = "nav pull-right">
						<% if poimgr? %>
							<li class = "divider-vertical">
								<%= link_to controller: "point_of_interests", action: "index" do %>
									<i class="fa fa-location-arrow"></i> POIs
								<% end %>

							</li>
						<% end %>
						
						<li class = "divider-vertical">
							<%= link_to controller: "main", action: "rules" do %>
								<i class="fa fa-th-list"></i> Rules
							<% end %>
						</li>
						<li class = "divider-vertical">
							<%= link_to controller: "contact_us_messages", action: "new" do %>
								<i class="fa fa-phone"></i> Contact Us
							<% end %>	
						</li>
						
						<% if admin? %>

							<li class = "visbile-desktop divider-vertical">
								<%= link_to controller: "pictures", action: "index" do %>
									<i class="fa fa-picture-o"></i> Pictures
								<% end %>
							</li>

							<li class = "visbile-desktop divider-vertical">
								<%= link_to controller: "users", action: "index" do %>
									<i class="fa fa-users"></i> Users
								<% end %>
							</li>
							
							<li class="visible-desktop divider-vertical">
								<%= link_to controller: "admin", action: "index" do %>
									<i class="fa fa-gears"></i> Admin
								<% end %>
							</li>
						<% end %>
					    
					    <% if current_user %>
					    	<li class = "divider-vertical">
					    		<%= link_to user_path(current_user) do %> 
					    			<i class="fa fa-user"></i> Profile
					    		<% end %>
					    	</li>
					    <% end %>
					    
					    <% if current_user %>
		    				<li class = "divider-vertical">
		    					Signed in as <%= current_user.name %>!
		    				</li>
		    				<li class = "divider-vertical">
		    					<%= link_to signout_path, id: "sign_out" do %>
		    						<i class="fa fa-sign-out"></i> Sign Out
		    					<% end %>
		    				</li>
		  				<% else %>
		  					<li class = "divider-vertical">
		  						<%= link_to "/auth/facebook", id: "sign_in" do %> 
		  							<i class="fa fa-facebook-square"></i> Sign in with Facebook
		  						<% end %>
		  					</li>
							<li class = "divider-vertical">
								<%= link_to "/auth/google_oauth2", id: "sign_in" do %>
									<i class="fa fa-google-plus-square"></i> Sign in with Google
								<% end %>
							</li>
						<% end %>

					</ul>
				</div>
			</div>
				
		</nav><!-- closes nav -->

		<div class="body">
			<%= bootstrap_flash %>
			
			<%= yield %>
			
		</div><!-- closes body -->
	</div><!-- closes wrapper_all -->

</html>
